body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #000000;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.nav-bar {
  background-color: rgb(99, 99, 99);
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 1rem;
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  list-style: none;
  color: rgb(255, 255, 255);
}

.nav-bar a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.nav-bar a:hover {
  color: pink;
}

.article-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;
}
@media (min-width: 1000px) {
  .article-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 1.5rem 2rem;
  }
}
.article-card {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: flex-start;
  padding: 20px;
  width: 500px;
  height: 200px;
  border-bottom: 2px solid #685772;
  margin: 0 auto;
}
.article-text {
  width: 250px;
  margin-right: 0.3rem;
  text-align: left;
}
.article-text p {
  font-size: 0.9rem;
  color: rgb(81, 78, 78);
}
.article-text h3 {
  font-size: 1.3rem;
}
.article-card img {
  width: 250px;
  height: 200px;
  border-radius: 8px;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: rgb(45, 45, 45);
}

a:hover {
  color: rgb(0, 0, 0);
}

.article-detail {
  display: flex;
  flex-direction: column;
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
}
.article-body {
  text-align: left;
}
.article-detail img {
  max-height: 600px;
  width: auto;
  height: auto;
  display: block;
  margin: 0 auto;
}
.comment-box {
  width: 100vw;
  background-color: rgb(229, 229, 229);
  padding: 0;
  margin: 0;
  min-height: 500px;
}

.comment-section {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.comment-section button {
  align-self: center;
  width: 250px;
  border: none;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 8px;
}

.comment-card {
  border-bottom: 2px solid #797979;
  text-align: left;
}

.login-dropdown {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  height: 20px;
}

.error {
  color: rgb(255, 255, 255);
  padding: 0;
}

.votes-box {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: center;
  height: 20px;
  position: relative;
}
.clicked {
  background-color: rgb(88, 88, 88);
  color: white;
  border: none;
  padding: 8px;
}
.unclicked {
  background-color: rgb(213, 213, 213);
  border: none;
  padding: 8px;
}
.voted {
  position: absolute;
  right: -40px;
}

.search img {
  margin-right: 5px;
  margin-top: 2px;
  position: relative;
  top: 2px;
}
.filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  gap: 30px;
  max-width: 130px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;
}

.topic-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.topic-card {
  position: relative;
  width: 550px;
  height: 250px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 8px;
}

.topic-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  border-radius: 8px;
  opacity: 0.6;
  transition-duration: 0.3s;
}
.topic-card:hover img {
  opacity: 1;
}
.topic-card:hover h3 {
  font-size: 4rem;
  color: white;
  text-shadow: 3px 3px 3px rgb(0, 0, 0);
}
.topic-card:hover p {
  opacity: 0;
}

.topic-text {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.topic-text h3 {
  font-size: 3rem;
  color: rgb(0, 0, 0);
}

.topic-text p {
  font-size: 1rem;
  color: rgb(26, 26, 26);
  margin-top: -20px;
}

.writers {
  display: flex;
  flex-direction: row;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  gap: 10px;
  list-style: none;
}

.writers img {
  width: 50px;
  height: 50px;
  border: 2px solid black;
  border-radius: 50%;
  object-fit: cover;
  display: block;
}
